*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    min-height: 100vh;
    display: block;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
}

nav{
background: rgba(255, 255, 255, 0.26);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.5px);
-webkit-backdrop-filter: blur(6.5px);
border: 1px solid rgba(255, 255, 255, 0.3);
    height: 80px;
    width: 100%;
}
.meri{
    position: fixed;
    /* z-index: -1; */
}
label.logo{
    color: rgb(255, 255, 255);
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    /* padding-right: 100px; */
    font-weight: bold;
}
nav ul{
    float: right;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 13px;

}
a.humara,a:hover{
    background: #331d9f;
    transition: 0.5s;

}
.pehlapage{
    height: 100vh;
    position: relative;
    z-index: 1;
}
/* .pehlapage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */
.container :nth-child(2){
    margin-top: 80px;
}
.container{
    width: 450px;
    overflow: hidden;
}

.container .try{
    display: inline-block;
    margin-top: 100px;
    margin-left: 40px;
    /* position: relative; */
    color: #f9f9f9;
    font-size: 30px;
    font-weight: 600;
}
/* .dusra-anime{
    margin-top: 70px;
} */


/* .container{
    margin-top: 100px;
} */
.container.try.pehla-anime{
    color: rgb(48, 207, 207);
}
.try .dusra-anime:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background-color: #331d9f; */
    border: 2px solid #ecebef;
    /* yaha pe doubt hai */
    border-left: #930adc;
    animation: animate 4s steps(12);

}
/* @keyframes animate{
    40%,60%{
        left:calc(100% + 4px)
    }
    40%,60%{
        left:100%
    }
   100%{
        left:0%
    }
} */
.dusrapage{
    height: 100vh;
}
.cont {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.part {
    flex: .6;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
#part1 {
    background-color:aliceblue; 
}

#part2 {
    background-color: gold; 
}

#part3 {
    background-color: aliceblue; 
}
#photu{
    width: 220px;
    height: 220px;
    position: relative;
}
#changecolorbutton{
    margin-left: 740px;
    cursor: default !important;
    /* display: hidden; */
    border: #ffffff;
    color: #ffffff;
    background-color: #ffffff;
}
.heroBg{
    position: absolute;
    z-index: 0;
}
.heroBg img{
    height: 100vh;
    width: 100vw;
}
/* 
.tesrapage{
    min-height: 100vh;
    position: relative;
    top: 258px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 90vw;
}
.panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    flex: 0.5;
    position: relative;
    transition: flex 0.7s ease-in;
    cursor: pointer;
    margin: 10px;
}
.panel h3{
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: 0;
}
.panel.active{
    flex: 3;
}
.panel.active h3{
    opacity: 1;
} */