*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    min-height: 100vh;
    display: block;
    background-color: #331d9f;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

nav{
    background: #930adc;
    height: 80px;
    width: 100%;
}
.meri{
    position: fixed;
    /* z-index: -1; */
}
label.logo{
    color: rgb(255, 255, 255);
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    /* padding-right: 100px; */
    font-weight: bold;
}
nav ul{
    float: right;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 13px;

}
a.humara,a:hover{
    background: #331d9f;
    transition: 0.5s;

}
/* .pehlapage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.container{
    width: 450px;
    overflow: hidden;
}

.container .try{
    position: relative;
    color: #930adc;
    font-size: 30px;
    font-weight: 600;
}
.container .try .pehla-anime{
    color: aqua;
}
.try .dusra-anime:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background-color: #331d9f; */
    border: 2px solid #331d9f;
    /* yaha pe doubt hai */
    border-left: #930adc;
    animation: animate 4s steps(12);

}
@keyframes animate{
    40%,60%{
        left:calc(100% + 4px)
    }
    40%,60%{
        left:100%
    }
   100%{
        left:0%
    }
}
